// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(170, 121, 121);
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
